#root {
  width: 100%;
}
.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5rem; /* Adjust this value */
  background-color: #000;
  color: white;
  transition: width 0.3s ease-in-out;
  padding-top: 2rem;
}

.sidebar.expanded {
  width: 18rem; /* Adjust this value */
}

.toggle-button {
  cursor: pointer;
  margin-bottom: 2rem;
}

.searchbar {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar input {
  width: 80%;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  outline: none;
}

.searchbar.expanded input {
  width: 70%;
}

.search-icon {
  cursor: pointer;
}

.search-icon.expanded-icon {
  margin-left: 0.5rem;
}

.icon-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.icon-text {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  cursor: pointer;
}

.icon-text p {
  margin-left: 0.5rem;
}

.option1,
.option2 {
  margin-top: 2rem;
}

.main-content {
  flex-grow: 1;
  background-color: #121212;
  padding: 2rem;
  color: white;
  transition: width 0.3s ease-in-out;
}

.main-content.collapsed {
  margin-left: 5rem; /* Adjust this value */
}

.main-content.expanded {
  margin-left: 18rem; /* Adjust this value */
}

.song-card {
  background-color: #282828;
  padding: 1rem;
  border-radius: 8px;
  transition: width 0.3s ease-in-out;
}

.song-card.expanded {
  width: calc(100% - 18rem); /* Adjust this value */
}

.song-card.collapsed {
  width: calc(100% - 5rem); /* Adjust this value */
}

.delete.hovered {
  fill: red;
  transform: scale(1.1);
  transition: fill 0.1s ease-in-out, transform 0.1s ease-in-out;
}
