.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.pic {
  width: 700px;
  height: 700px;
  animation: updown 2s ease-in-out infinite alternate;
}
@keyframes updown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}
a {
  text-decoration: none;
  color: #fff;
}
.btn {
  position: absolute;
  padding: 10px 20px;
  background-color: #1d82d5;
  color: #fff;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  top: 600px;
}
@media screen and (max-width: 600px) {
  .pic {
    width: 300px;
    height: 300px;
  }
  .btn {
    top: 400px;
  }
}
