.signup {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

/* .p{
    font-size: 30px;
    color: white;
    font-weight: 600;
} */

.signuptospring{
    padding-top: 50px;
    padding-right: 150px;
    /* padding-bottom: 30px; */
    padding-left: 150px;
    font-size: 30px;
    color: white;
    font-weight: 600;
}

/* form */

input[type=text] {
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input, textarea {
    background-color: #000000;
}

input[type=button] {
    width: 100%;
    background-color: #4470ea;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin: 20px 0;
    /* margin-bottom: 50px; */
    /* border: none; */
    border-radius: 40px;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: #173c9c;
}

.or{
    padding-top: 0px;
    /* padding-bottom: 40px; */
}

/* Sign up with buttons */

.buttonSignUp {
    background-color: #08ae71;
    border: none;
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 5px;
}

.buttonSignUp span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttonSignUp span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.buttonSignUp:hover span {
    padding-right: 25px;
}

.buttonSignUp:hover span:after {
    opacity: 1;
    right: 0;
}

.SignUpWithbutton {
    background-color: rgb(0, 0, 0); 
    /* color: black; */
    border: 2px solid #909090;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 40px;
    margin: -40px;
}