.hamburger{
    display:none;
}

@media only screen and (max-width: 1024px) {
    .hamburger {
        width:auto;
        height:100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 16px;
    }

    .sidebar{
        display:none;
    }

    .recents{
        font-size: medium;
    }

    
}



