
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.card img {
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 100%;
}

.card ul {
    list-style-type: none;
    padding: 0;
}

.card li {
    margin-bottom: 8px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

#audioPlayer {
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
