*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.player
{
  width: 300px;
  background: #e0e5ec;
  padding: 20px 14px 8px 14px;
  border: none;
  border-radius: 10px;
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 15px );
  -webkit-backdrop-filter: blur( 15px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.imgBx img
{
    margin-top: 10px;
  width: 100%;
  height: auto;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.player audio
{
  width: 100%;
  border-radius: 6px;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 0;
  border: none;
  box-shadow: -5px -5px 15px 0px #ffffff9e, 5px 5px 15px 0px #a3b1c6a8;
}


li{
    list-style-type: none;
}

.details{
    text-align: center;
    gap: 2px;
}

h1{
    text-align: center;
    margin-bottom: 15px;
    font-size: 3rem;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5%;
    gap: 5%;
    height: 30px;
}

.box1{
   background: #e0e5ec;
    border: 0;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button{
    background: #e0e5ec;
    border: 0;
    border-radius: 15px;
    width: 70px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.name{
    margin-top: 20px;
    font-size: 25px;
}

#music{
  background: #e0e5ec;
  border: 0%;
  border-radius: 27px;
}