@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins", sans-serif;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  background: #000000;

}

/*=================== Side bar ============== */

aside {
  width: 7%;
  height: 100vh;
  padding: 10px;
}

.sidebar-section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #18181d;
  border-radius: 5px;
/*   padding: 10px;
  margin: 6px 0; */
}

.sidebar-section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #18181d;
  border-radius: 5px;
/*   padding: 10px;
  margin: 6px 0; */
}

input[type="search"] {
  height: 3rem;
  width: 100%;
  padding: 10px 10px 10px 30px;
  color: white;
  outline: none;
  background: #000000;
  border-radius: 4px;
  border: 2px solid #343440;
  /* margin-left: 3px; */
  box-sizing: border-box;
}

input[type="search"]::placeholder {
  color: white;
}

aside a {
  font-size: 15px;
  color: #fff;
  display: flex;
  padding: 7px;
  height: 3rem;
  text-align: center;
  align-items: center;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

@media screen and (max-width: 1100px) {
  aside {
    width: 10%;
  }

  aside input[type="search"] {
    display: none;
  }
}

/* ========================== Section-2 ============================== */
.section2 {
  height: 100vh;
  padding: 10px;
  width: 67%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.searchbar2 {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 4rem;
}

.section2 input[type="search"] {
  width: 65%;
}

.avatar {
  position: absolute;
  top: 0;
  z-index: 1;
  right: 33%;
  height: 25px;
  display: flex;
  align-items: center;
  background-color: #18181d;
  border-radius: 4px;
  padding: 15px;
  margin-top: 10px;
}

.logo {
  padding: 5px;
  margin: 3px;
  background-color: #343440;
  border-radius: 4px;
}

.text {
  font-size: 14px;
  padding: 5px;
}

.search-container {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 10px;
}

.search-container input {
  color: white;
  background-color: black;
}
.search-container #searchResultsSuggestion{
  position: absolute;
  max-width: 100%;
  max-height: 40rem;
  margin-top: 1rem;
  border: 0.2rem solid rgb(46, 44, 44);
  z-index: 2;
  border-radius: 0.5rem;
  background: black;
  color: white;
  overflow: scroll;
  overflow-x: hidden;
}
.search-container #searchResultsSuggestion p{
 padding: 1rem;
 border-bottom: 0.1rem solid white;
}
input:focus {
  color: white;
  background-color: black;
  outline: none;
}

::selection {
  background: #b3d4fc;
  color: black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px black inset;
  -webkit-text-fill-color: white;
}

input:-moz-autofill {
  box-shadow: 0 0 0px 1000px black inset;
  -moz-text-fill-color: white;
}

.search-container .search-icon {
  position: absolute;
  left: 35px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.genresAndTopcharts {
  display: flex;
  width: 100%;
  height: 100vh;
}

/*===================== Section3 ============================*/

.section3 {
  width: 26%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.link {
  background: #18181d;
  border-radius: 10px;
  padding: 4px;
  margin: 6px;
  cursor: pointer;
}

.Card1 {
  background: #18181d;
  border-radius: 10px;
  height: auto;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.search-details p {
  font-size: 12px;
}

.Card2 {
  display: flex;
  align-items: center;
  padding: 6px;
  flex-direction: column;
  background: #18181d;
  border-radius: 5px;
  height: auto;
  max-height: 22rem;
  width: 100%;
  border-radius: 10px;
  margin-top: .5rem;
}

.details2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-overflow: ellipsis;
  height: 15rem;
  width: 11rem;
}

.Card2 img {
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.Card2 p {
  font-size: 14px;
}

.audioplayer {
  width: 100%;
  margin: 1px;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5%;
  gap: 5%;
  height: 30px;
}

.box1 {
  border: 0;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  outline: none;
}

.ui {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  width: 100vw;
  
  align-items: center;
  justify-content: space-between;
}

.songresult {
  display: flex;
  align-items: center;
  background-color: #000000;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.songresult img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin-right: 10px;
}

.result-item {
  border-radius: 10px;
  width: 98%;
}

/*================== TopArtists =======================*/

.topArtistsContainer {
  background-color: #18181d;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  margin: 10px 5px;
  height: 190px;
}

.topArtistsHeader {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.topArtists::-webkit-scrollbar {
  display: none;
}

.topArtists {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.topArtists .result-item {
  flex: 0 0 auto;
  width: 100px;
  height: auto;
  margin: 5px;
}

.topArtists .songresult {
  display: flex;
  flex-direction: column;
  background-color: #18181d;
  height: 90%;
  overflow: hidden;
}

.topArtists .songresult img {
  width: 100%;
  height: auto;
}

.topArtists .search-details {
  text-align: center;
  padding: 5px;
  overflow: scroll;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2.5;
  -webkit-box-orient: vertical;
  height: 3.6em;
}

.topArtists .search-details::-webkit-scrollbar {
  display: none;
}

/* Genres component stylings*/
.genres {
  width: 40%;
  border-radius: 10px;
  background-color: #18181d;
  margin: 5px 5px 5px 0px;
  padding: 10px;
}

.genres-header {
  display: flex;
  justify-content: space-between;
}

.genres-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  transition: transform 0.3s;
}

.box:hover {
  transform: scale(1.05);
}

.dance-electric {
  background-color: #f47174;
}

.rock {
  background-color: #a0ce67;
}

.party {
  background-color: #49b1b6;
}

.afro {
  background-color: #c9e76c;
}

.pop {
  background-color: #c882d2;
}

.chill {
  background-color: #c5e668;
}

.classic-retro {
  background-color: #e47171;
}

/* topCharts component stylings */
.topCharts {
  width: 60%;
  border-radius: 10px;
  background-color: #18181d;
  margin: 5px 0px 5px 5px;
  padding: 10px;
}

.topCharts-header {
  display: flex;
  justify-content: space-between;
}

/* track Item component which is use inside the Topcharts compoenent */
.track-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: white;
}

.track-number {
  width: 30px;
  text-align: center;
}

.track-image {
  width: 40px;
  height: 40px;
  background-color: #888;
  margin-right: 10px;
  border-radius: 5px;
}


.track-info {
  flex-grow: 1;
}

.track-title {
  font-size: 1rem;
  font-weight: bold;
}

.track-artist {
  font-size: 0.9rem;
  color: #aaa;
}

.track-duration {
  width: 50px;
  text-align: center;
}

.play-button {
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.play-button:hover {
  color: #aaa;
}


.mySwiper {
  width: 56%;
  overflow-x: scroll;
  position: relative;
  height: 12.5rem;
  margin: 0;
  padding: 25px;
  background: #18181d;
  border-radius: 10px;
}

.song p {
  font-size: 12px;
  padding: 20px;
}

.song {
  width: 150px !important;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: auto 0;
  padding: 10px;
}

.song img {
  height: 100px;
}


.swiper-slide {
  height: 90% !important;
}


.song img {
  border-radius: 10px;
}


.swiper-button-prev,
.swiper-button-next {
  color: white !important;
  --swiper-navigation-size: 18px;

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18.5px);
  -webkit-backdrop-filter: blur(18.5px);
  border-radius: 10px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);


}
/*css file for footer */
.bgfooter{
  background: rgba(255, 255, 255, 0.063);
box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
margin-top: 50px;
}
.sec1 {
  width: 100%;
  height: 30%;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 600;
  font-weight: 600;
}
.company{
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 50px;
  font-weight: 400;
 
}
.divider {
  width: 100%;
  height: 0.04em;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.01),
    rgba(255, 255, 255, 0.079),
    #ffffffd1,
    rgba(255, 255, 255, 0.079),
    rgba(255, 255, 255, 0.01)
  );
}

.sec2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
 width: 100%;
 height: 28%;

}
.sec3{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
 height: 27%;

}

.sec4{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15%;
 font-size:12px;
}
.icons {
  background: transparent;
  top: 0px;
  color: blue;
  
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.279);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.icons a::after {
  content: "";
  width: 30px;
  height: 30px;
  top: -30px;
  left: 0;
  background: linear-gradient(
    40deg,
    rgb(246, 126, 28),
    rgb(221, 54, 54),
    rgb(250, 41, 118),
    rgb(214, 18, 214)
  );
  position: absolute;
  transition: 0.5s;
}
.icons a .fab {
  font-size: 27px;
  z-index: 20;
  position: absolute;
  color: white;
}
.icons a:hover::after {
  top: 0;
}

.icons:nth-child(1) a::after {
  background: linear-gradient(
    40deg,
    rgb(246, 126, 28),
    rgb(221, 54, 54),
    rgb(250, 41, 118),
    rgb(214, 18, 214)
  );
}

.icons:nth-child(2) a::after {
  background: linear-gradient(40deg, #96d4fb, #1da1f2);
}
.icons:nth-child(4) a::after {
  background: linear-gradient(40deg, rgb(4, 51, 98), rgb(10, 102, 194));
}

.icons:nth-child(5) a::after {
  background: linear-gradient(
    40deg,
    rgb(0, 255, 255),
    rgb(0, 191, 255),
    rgb(0, 128, 255),
    rgb(0, 64, 255)
  );
}
.icons:nth-child(3) a::after {
  background: red;
}

.f01 {
  position: absolute;
  bottom: 0;
}

.ico {
  @apply pl-1 pt-1 fab hover:text-white md:pt-[5px] md:pl-[5px]; /* Remove font-size property from here */
}

.head{
  @apply xs:text-[12px]; /* Remove font-size property from here */
}

.sec2 ul h2{
  padding-bottom: 10px;
  font-size: 17px;
  font-weight: 600;
  color:#e5e1e1
}
.sec2 ul li{
  font-size: 15px;
  color: rgb(255, 255, 255);

}

